<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - bae</title>

    <meta charset="utf-8">
    {% block metatags %}{% endblock %}

    <link href="/style.css" rel="stylesheet">
    <link href="/highlight_style.css" rel="stylesheet">
    {% endblock %}
</head>

<body class="h-screen bg-purple-200 bg-fixed">
{% block body %}
{% block nav %}
<nav class="bg-purple-400 py-0.5">
    <div class="mx-auto max-w-screen-md">
        <a href="{{ crate::server::HomePath::default() }}" class="px-2 bg-purple-200 rounded-full mr-1">Bae Home</a>
        <a href="{{ crate::server::blog::HomePath::default() }}" class="px-2 bg-purple-200 rounded-full mx-1">Blog Home</a>
        {% block custom_nav_links %}
        {% endblock %}
    </div>
</nav>
{% endblock %}

<div id="site-contents" class="mx-auto max-w-screen-lg">
    {% block wider_contents %}
    <div id="inner-contents" class="mx-auto max-w-screen-md">
        {% block contents %}{% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
</body>
</html>
