<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Quiet's page</title>

    <meta charset="utf-8">
    {% block metatags %}{% endblock %}

    <link href="/assets/style.css" rel="stylesheet">
    {% endblock %}
</head>

<body class="h-screen bg-gradient-to-b from-purple-300 to-purple-100">
{% block body %}
<main id="site-contents" class="container mx-auto max-w-prose">
    {% block contents %}{% endblock %}
</main>
{% endblock %}
</body>
</html>
