<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Quiet's page</title>

    <meta charset="utf-8">
    {% block metatags %}{% endblock %}

    <link href="/style.css" rel="stylesheet">
    <link href="/highlight_style.css" rel="stylesheet">
    {% endblock %}
</head>

<body class="h-screen bg-purple-200 bg-fixed">
{% block body %}
<div id="site-contents" class="container mx-auto max-w-screen-lg">
    {% block contents %}{% endblock %}
</div>
{% endblock %}
</body>
</html>
