{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block contents %}
<h1>Blog and eh</h1>

<p>Hi, I'm Quiet! I make things occasionally.</p>
<p>This website is a project I called bae. The code is on <a href="https://github.com/gpluscb/bae">GitHub</a>!</p>

<p>
    Bae stands for blog and eh. The blog part is <a href="{{ crate::server::blog::HomePath::default() }}">here</a>.
    The and eh part you are looking at right now.
</p>

<h2>Projects</h2>

<code>==== Under Construction ====</code>

<h2>About me</h2>

<p>
    My name is [REDACTED], but you can call me Quiet too. <code>// TODO: Unredact name?</code><br>
    I'm also known as gpluscb where other stuff was taken, and I used to be known as MarRue too.
</p>
<p>
    Any pronouns are fine!
    Bonus points for switching mid-sentence, and another round of extra bonus points if you throw some it/its in the
    mix.
    No one ever does for whatever reason.
</p>
<p>
    I'm <code>queer.</code> on Discord.
    Don't be afraid to bother me and/or be awkward in DMs or whatever.

    Friend requests are welcome.
</p>
<p>
    I love music.
    I'd love to make some someday, but that's a whole other project.
</p>
<p>
    It's impossible to condense that love into a single song recommendation, so I won't try.
    But instead, have a recommendation for just one song that I really love - <a href="https://youtu.be/Ob_R77elCsY">Panorama by Hayley Kiyoko</a> [link points to YouTube].
    The whole album is worth the listen (as is her entire discography to be honest), but this song stands out in my opinion.
    Very worthy album closer.
    I love how she stops to see the view, and in the same moment we also get to see the view.
    And it's beautiful.
    Also, the way the video switches from 4:3 to widescreen? Amazing.
</p>
<p>
    I think I have a lot to say about music I like.
    Maybe that's also something for the and eh section someday.
    Or a section of blog?
    Not sure if people would want to listen to it but that's not what matters anyway.
</p>
{% endblock %}
