{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block contents %}
<h1>Blog and eh</h1>

<p>Hi, I'm Quiet! I make things occasionally.</p>
<p>This website is a project I called bae. The code is <a href="https://github.com/gpluscb/bae">on GitHub</a>!</p>

<p>
    Bae stands for blog and eh. The blog part is <a href="{{ crate::server::blog::HomePath::default() }}">here</a>.
    The and eh part you are looking at right now.</p>

<h2>Projects</h2>

<h3>Bae</h3>
<p>
    <a href="{{ crate::server::HomePath::default() }}">Bae</a> stands for blog and eh,
    and you are looking at it right now.
    The source code is <a href="https://github.com/gpluscb/bae">on GitHub</a>.
    Surprisingly, I'm fine with the quality of the code here.
    It's a first for me for a lot of technologies.
    My first time really working on frontend stuff with HTML/CSS, I think it looks pretty fine for that.
    I'm proud of how the <a href="{{ crate::server::blog::HomePath::default() }}">blog</a> turned out,
    or at least the posts themselves
    (I took a lot of inspiration from <a href="https://fasterthanli.me">fasterthanli.me</a>,
    so just gonna hope that's cool).
    Bae is also my first time doing anything with Docker and VPS things, very exciting.
    And before you ask, yes it's a backronym.
    Or well, since bae is already a backronym
    (it's said to stand for &quot;before anyone else&quot;, but that acronym is likely a false etymology),
    I guess that makes the name of this project a second order backronym.
    A backronym backronym!
    A backrobackronymnym?</p>

<h3>SSBToni</h3>
<p>
    <a href="https://discord.com/application-directory/698889469532569671">SSBToni</a> is a Discord bot for the
    competitive Super Smash Bros. community.
    She does frame data and hitbox display and more.
    The source code is <a href="https://github.com/gpluscb/toni">on GitHub</a>.
    Quite ugly to be honest. But it's Java, so I think that's probably fine.</p>

<h3>instant-glicko-2</h3>
<p>
    <a href="https://crates.io/crates/instant-glicko-2">instant-glicko-2</a> is a Rust crate to calculate
    <a href="http://www.glicko.net/glicko/glicko2.pdf">Glicko-2</a> ratings that update instantly after a game
    completes.
    Usually, you'd have to wait to the end of a rating period to have ratings update.
    I wrote about how to side-step that
    <a href="https://gist.github.com/gpluscb/302d6b71a8d0fe9f4350d45bc828f802">here</a>,
    but that's mildly out of date now.
    The source code is <a href="https://github.com/gpluscb/instant-glicko-2">on GitHub</a>.</p>

<h3>cache-compute</h3>
<p>
    Another thing I stole from fasterthanlime?
    How wild is that.
    <a href="https://crates.io/crates/cache-compute">cache-compute</a> is a Rust crate to cache results of async
    computations.
    I needed to cache some stuff for a personal project, but it turned out to be a harder problem than initially
    thought.
    If the cache is empty, you may want to start a computation.
    But you don't want to start one if someone else already did, you just want to be notified when that one is finished.
    Well luckily, at about the same time I <code>// TODO</code>d that, Amos published a very good
    <a href="https://fasterthanli.me/articles/request-coalescing-in-async-rust">article</a> on the topic.
    And the implementation I created from that for my project grew decent enough to be factored out into a single-file
    crate,
    which I improved further and then open sourced <a href="https://github.com/gpluscb/cache-compute">on GitHub</a>.</p>

<h2>About me</h2>

<p>
    My name is Marie, but you can call me Quiet too.<br>
    I'm also known as gpluscb where other stuff was taken, and I used to be known as MarRue too.</p>
<p>
    Any pronouns are fine if you mix it up frequently!
    If you don't, I prefer she/her.
    Bonus points for switching mid-sentence,
    and another round of extra bonus points if you throw some it/its in the mix.
    No one ever does for whatever reason.</p>
<p>
    I'm <code>queer.</code> on Discord.
    Don't be afraid to bother me and/or be awkward in DMs or whatever.
    Friend requests are welcome.</p>
<p>
    I love music.
    I'd love to make some someday, but that's a whole other project.</p>
<p>
    It's impossible to condense that love into a single song recommendation, so I won't try.
    But instead, have a recommendation for just one song that I really love -
    <a href="https://youtu.be/Ob_R77elCsY">Panorama by Hayley Kiyoko</a> [link points to YouTube].
    The whole album is worth the listen (as is her entire discography to be honest), but this song stands out in my
    opinion.
    Very worthy album closer.
    I love how she stops to see the view, and in the same moment we also get to see the view.
    And it's beautiful.
    Also, the way the video switches from 4:3 to widescreen? Amazing.</p>
<p>
    I think I have a lot to say about music I like.
    Maybe that's also something for the and eh section someday.
    Or a section of blog?
    Not sure if people would want to listen to it but that's not what matters anyway.</p>
<p>
    I love Splatoon a lot.
    On a mildly related note, I also have <a href="https://quietmarie.tumblr.com/">a Tumblr</a>
    for less coherent and occasionally less hinged thoughts and Splatoon and gay.</p>

<h2>The coveted Idea List&trade;</h2>

<p>
    I'll organise some ideas from the list&trade; here.
    It's just some stuff that feels vaguely original, and that I might want to do at some point in the future.</p>
<p>
    The rules for using any of these ideas are simple:</p>
<code>
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY",
    and "OPTIONAL" in this document are to be interpreted as described in
    <a href="https://www.rfc-editor.org/rfc/rfc2119">RFC 2119</a>.<br><br>
    You <b>MAY</b> have a go at any and all of these if you want and however you want, but if you do, and it goes
    <em>anywhere</em>, you <b>SHOULD</b> tell me about it.
    I really want to hear about it.
    And in case you already know of some of these things existing, you also <b>SHOULD</b> tell me immediately.</code>

<ul>
    <li><b>An <a href="https://en.wikipedia.org/wiki/Autostereogram">autostereographic</a> renderer.</b>
        As in, something that can render 3D scenes to an autostereogram in real time.
        Bonus points for research into whether an autostereographic video game would make you barf immediately.
    </li>
    <li><b>[whatever], colour picked from the [whatever] flag.</b>
        You know these posts that are like "the trans flag, colour picked from this one Harmony Paruko render"?
        Automating that, but the other way around.
        I.e. a tool that can create an approximation of an image from any set of colours.
        I want to be able to put in an image of myself and get a reasonable approximation that uses only colours in the
        progress flag.
        Bonus points for utilizing dithering, that in particular seems really intimidating for arbitrary colours.
    </li>
    <li><b>A declarative music making language.</b>
        I don't really get <a href="https://en.wikipedia.org/wiki/Digital_audio_workstation">DAW</a>s.
        A lot of the time when I use them it feels a little like programming in Scratch.
        And don't get me wrong, I am 100% sure I am Dunning-Krugering the hell out of this.
        I have <em>not</em> spent the time to learn one of these, but I still really want to create a DAW-like thing
        that is less of a clicky GUI thingy and more of a programming language.
        Just that it compiles to an audio file instead of a binary.
        It sounds like it could be very cool, and really fun.
        Maybe a music making library could be a first step before actually trying to make it a whole language.
    </li>
    <li><b>A program to jam together online.</b>
        All the people I would jam with are a long way away.
        Jams don't really work online because of the delay.
        So I want there to be a program that gives you a number of measures to play a loop,
        at which point it hands over to your jam partner to play their stuff on the loop, and so on.
        Bonus points for extra control, being able to take older stuff off the loop/replacing old tracks etc..
    </li>
</ul>

<h3>Contact</h3>

Several options:

<ul>
    <li>Message <code>queer.</code> on Discord.</li>
    <li>Mail to <a href="mailto:marrueeee@gmail.com">marrueeee@gmail.com</a>.</li>
</ul>
{% endblock %}
