{% extends "blog_base.html" %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block wider_contents %}
<article id="blog-post">
    <div id="blog-post-header" class="max-w-screen-md mx-auto">
        <h1 id="blog-post-title" class="my-1">{{ blog_post.title }}</h1>
        <p id="blog-post-subtitle" class="text-sm font-light">
            <span id="blog-post-author">{{ blog_post.author }}</span>
            -
            <span id="blog-post-date">
            {% if let Some(publication_date) = blog_post.publication_date %}
                {{ publication_date.format("%Y-%m-%d") }}
            {% else %}
                Unpublished
            {% endif %}
            </span>
            -
            <span id="blog-post-tags">
            {% for tag in blog_post.tags -%}
                <a href="{{ tag.full_path() }}">#{{tag}}</a>{% if !loop.last %}, {% endif -%}
            {% endfor %}
            </span>
            -
            <span id="blog-post-reading-time">
                {{ blog_post.reading_time.num_minutes() }} minute read
            </span>
        </p>
    </div>
    <hr id="blog-post-divider" class="max-w-screen-md border-black h-0.5 mx-auto my-1">
    <div id="blog-post-contents">
        {{ blog_post.html|safe }}
    </div>
</article>
{% endblock %}
