{% extends "../base.html" %}

{% block title %}Blog{% endblock %}

{% block contents %}
<h1>Blog Home</h1>

<h2 class="font-light">Blog posts:</h2>

<ul class="mt-1">
    {% for blog_post in blog_posts %}
    <li class="list-none">
        <a href="{{ blog_post.full_url() }}" class="hover:no-underline text-inherit hover:text-inherit">
            <div class="rounded-xl bg-purple-400 hover:bg-purple-700 p-2 mb-2">
                <h2>{{ blog_post.title }}</h2>
                <p>{{ blog_post.html|safe }}</p> {# TODO: replace with description #}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
